---
import twgh from "../assests/twgh.jpeg"
import '@fontsource-variable/lexend-exa';
import arrow from "../assests/Polygon 1.png"
import soundcloud from "../assests/soundcloud.png"
import apple from "../assests/itunes-note.png"
import youtube from "../assests/youtube.png"
import tidal from "../assests/tidal.png"
import amazon from "../assests/amazon.png"
import insta from "../assests/instagram.png"
import twitter from "../assests/twitter.png"

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/RYU_1024.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title class="font-lexada">RYUSENSEI</title>
	</head>
	<body class="bg-black"> 
				<a href="https://social.tunecore.com/linkShare?linkid=B-L2dpYl9azWfRgix-0PxQ" target="_blank"><img class="mt-24 rounded-3xl mx-auto w-96 xl:w-1/3 hover:w-2/5 duration-200 shadow-2xl hover:shadow-white "src={twgh.src} alt=""></a>
				<p class="text-white text-center font-lexada pt-28 xl:pt-32 text-lg">They Wanna Get Hurt Out on All Platforms</p>
			</div>
		</div>
		
		<h1 class="text-white text-4xl pt-64 text-center font-lexada pb-14">STREAM</h1>
		<iframe class="w-1/2 bg-black mx-auto min-w-fit" src="https://open.spotify.com/embed/artist/3TVyPw2X20gUJOxpXhyBEw?utm_source=generator&theme=0" width="100%" height="352" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
		<div class="grid mx-auto grid-cols-5 gap-x-0 justify-items-center max-w-2xl pt-8 columns-sm">
			<a href="https://soundcloud.com/senseiryu" target="_blank"><img class="w-12 sm:w-8 md:w-12" src={soundcloud.src} alt=""></a>
			<a href="https://music.apple.com/de/artist/ryu-sensei/1599542088?l=en-GB" target="_blank"><img class="w-6 sm:w-4 md:w-6" src={apple.src} alt=""></a>
			<a href="https://youtube.com/@RYUSENSE1?si=fc9aII8h8nmXK2za" target="_blank"><img class="w-10 sm:w-6 md:w-10" src={youtube.src} alt=""></a>
			<a href="https://tidal.com/browse/artist/33639244" target="_blank"><img class="w-12 sm:w-8 md:w-12" src={tidal.src} alt=""></a>
			<a href="https://music.amazon.com/artists/B09NCBR58W/ryu-sensei" target="_blank"><img class="w-8 sm:w-6 md:w-8" src={amazon.src} alt=""></a>
		</div>
		<h1 class="text-white text-4xl pt-72 text-center font-lexada pb-14">Contact</h1>
		<form action="https://formspree.io/f/xqkvlkye" method="POST" class="text-center ">
			<label class="text-white font-lexada">
				EMAIL
				<input type="text" name="email" class="bg-black border-solid border-2 border-white rounded-3xl block mx-auto mb-8">
			</label>
			<label class="text-white font-lexada">
				NAME
				<input type="text" name="name" class="bg-black border-solid border-2 border-white rounded-3xl block mx-auto mb-12">
			</label>
			<label class="text-white font-lexada ">
				MESSAGE
				<textarea rows="4" class="block mx-auto bg-black border-solid border-2 w-96 h-36 pb-"></textarea>
			</label>
			<button class="text-white pt-4 pb-4 text font-lexada" type="submit" >SUBMIT</button>
		</form>
		<div class="grid mx-auto grid-cols-2 gap-x-0 justify-items-center max-w-2xl pt-12 columns-sm grid-rows-1">
			<a href="https://www.instagram.com/senseiryu/" target="_blank"><img class="w-10" src={insta.src} alt=""></a>
			<a href="https://twitter.com/senseiryu_" target="_blank"><img class="w-12" src={twitter.src} alt=""></a>
		</div>
		<div class="h-36"></div>
	
	</body>
</html>

